<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Full Cycle Rocks!</h1>
    <h1>User List</h1>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <% users.forEach(user => { %>
        <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>